#header{
    display: inline-block;
}
#name{
    color: blue;
    font-size: 30px;
    font-family: cursive;
}
#three{
    position: relative;
    left: 10%;
    color: chocolate;
    font-size: 40px;

}
#four{
    position: relative;
    left: 10%;
    color:brown;
    font-size: 16px;
}

p{
    
    margin-left: 10%;
    font-family: cursive;
    color:darkred;
}
a{
    color:black;
    place-content: right;
    margin-top: 0%;
    padding-right: 25px;
    position:relative;
    bottom: 100px;
    
}
#navbar{
    margin-left: 60%;
    margin-top: 5%;
    
    
    
}
#two{
    margin-left: 60%;
    position:relative;
    bottom: 200px;
}
#image{
    margin-left: 15%;
}
#img{
    padding: 20px;
}
footer{
    margin: 0%;
    position: relative;
    top:100px;
    height: 50px;
    width: auto;
    color: aquamarine;
    background-color: rgb(57, 6, 6);
}
